<h4> Post title: <%= @post.title %> </h4>

url:
<%= @post.url %> <br/>
description:
<%= @post.description %>

<p>
  <% render 'shared/error', obj: @comment %>
  <%= form_for [@post,@comment] do |f| %>
    <%= render "shared/error", obj: @comment %>
    <%= f.label "Leave a comment here" %>
    <%= f.text_field :body %><br/>
    <%= f.submit "Create", class: 'btn btn-primary'%>
  <% end %>

  <h5>Comments</h5>
  <ul>
    <% @post.comments.each do |comment| %>
      <li>
        <% if logged_in? %>
          <%= link_to "+", vote_post_comment_path(@post,comment, vote: true), method: :post, remote: true%>
          <span id='objs<%= comment.id %>_votes'><%= comment.total_votes %></span>
          <%= link_to "-", vote_post_comment_path(@post,comment, vote: false), method: :post, remote: true %>
        <% end %>
        <%= comment.body %>
      </li>
    <% end %>
  </ul>
</p>